<style>
    .main-nav {
        //padding: 10px;
        //lost-waffle: 1/6 no-flex;
        //border: 1px solid #000;
    } 
    
</style>


<template>
    <div class="main-nav">
        
        <div>

        </div>

    </div>
</template>


<script>
  module.exports = {
    props: [],

    data() {
        return {
          //objectResource: this.$resource('/:objectType/:objectOptions'),
        }
    },

    components: {
      // 'mainnavbutton': require('./mainnavbutton.js'),
      // 'objecteditor': require('./objecteditor.js'),
    }, 

    ready() {
      console.log('- MainNav.vue Loaded and ready -')
      $(".nano").nanoScroller();
      $("#schwag-menu").mmenu({
        "offCanvas": {"zposition": "front"},
      });
    }
  } // END Modual Exports
</script>