 @import "./variables";
 
 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import "node_modules/sweetalert/dist/sweetalert";
 @import "../vendor/js/jQuery.mmenu-master/src/core/css/jquery.mmenu";
 @import "../vendor/js/selectize/dist/css/selectize.default";
 @import "../vendor/css/AnimatedCheckboxes/css/component";
 @import "../vendor/css/AnimatedCheckboxes/css/normalize";
  
 @import "./texthovereffects";
 @import "./inputeffects";
 @import "./nanoscroller";
 @import "./bsoverides"; 
 @import "./dropzone";
 @import "./content";
 @import "./mainnav";
 @import "./navbar";
  
// Base container 
.schwag-app {
    background: url('../img/dark_embroidery.png') repeat;
}
 
.fake-banner {
    height:90px;
    width: 100%;
    background-color: #fff;
}  

// Helpers
.mar-top {
    margin-top: 10px;
}
.mar-btm {
    margin-bottom: 10px;
}
.pad-top {
    padding-top: 10px;
}
.pad-lft {
    padding-left: 10px;
}
.pad-btm {
    padding-bottom: 10px;
}
.pad-all {
    padding: 10px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clear {
    clear: both;
}

// Posts
.post-body-intro {
    font-weight: bold;
}
.post-reply {
    font-weight:bold;
}

// submission form
.submit-text-field, .submit-post-body { 
    border-color:#cccccc; 
    border-style:solid; 
    padding:7px;
    font-size:22px;
    border-radius:6px;
    color:#292929;
    box-shadow: 1px 0px 3px 0px rgba(42,42,42,.45);
    border-width:1px;
    font-family:sans-serif;
}
.submit-text-field:focus { outline:none; } 

.submit-post-body {
    //resize: none;
    width: 100%;
    height: 14em;
    overflow: none;
    border: thin solid darkGrey;
}
.selectize-control .option .label  {
    font-size: 14px;
    color: #666;
}
.selectize-control .active {
    font-size: 14px;
    color: #333;
    background-color: #aaa;
}


// Overwrites
.content {
    box-shadow: none;
    background: none;
 }

.panel {
    box-shadow: 1px 2px 3px 0px rgba(42,42,42,.45);
}

.btn, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    border:none;
}

.expand-transition {
  transition: all .3s ease;
  height: auto;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

.footer{
    position: fixed;
    z-index: 100;
    bottom: 0px;
    width: 100%;
}

.submission-header{
    display: flex;
    justify-content: space-between;
}