// Bootstrap Overides

@media (min-width: 992px) {
    .container {
       width: 760px;
      } 
  }
  /*Tablets*/
  @media (min-width: 767px) {
    .container {
       //width: 760px;
       padding-left: 0;
       padding-right: 0;
      } 
  }
  /*Phones*/
  @media (max-width: 480px) {
    .panel {
       margin-top: 30px;
      } 
  }

body {
    background: url('../img/dark_embroidery.png') repeat;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: #2e6da4;
}
 
.btn-open-submission {
    display: inline-block;
    padding: 8px 8px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.nav-toggle{ 
    height: 100px;
    width:100px;
    background-color: $primary-color;
}