/* input effects */
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

//
.input--shoko {
    padding-bottom: 1.4em;
    overflow: hidden;
    margin: 0px;
    max-width: none;
    width: 100%;
}

.input__field--shoko {
    background: transparent;
    margin-top: 1.2em;
    font-size: 1.55em;
    width: 100%;
    color: #666;
    padding: 0;
}

.input__label--shoko {
    left: 0;
    top: 2em;
    width: 100%;
    padding: 0em;
    display: block;
    color: #A09C9C;
    text-align: left;
    position: absolute;
    letter-spacing: 1px;
    pointer-events: none;
    transform-origin: 0 0;
    text-transform: uppercase;
    -webkit-transform-origin: 0 0;
    transition-timing-function: ease-out;
    transition: transform 0.2s 0.1s, color 0.3s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition: -webkit-transform 0.2s 0.1s, color 0.3s;
}

.graphic--shoko {
    stroke: #A09C9C;
    pointer-events: none;
    stroke-width: 2px;
    top: 1.25em;
    bottom: 0px;
    height: 3.275em;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
    color: #A58282;
    -webkit-transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
    stroke: #A58282;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}



/* Makiko */
.input--makiko {
    margin: 0;
    
    overflow: hidden;
    background: #222;
}

.input__field--makiko {
    width: 100%;
    background: transparent;
    padding: 4px 6px;
    color: #666;
    z-index: 10;
    font-size: 2em;
    font-weight: 400;
}

.input__label--makiko {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: #666;
}

.input__label--makiko::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25%;
    right: 20px;
    background: url(../img/search.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.input__label-content--makiko {
    display: block;
    padding: 1.5em 0 0 2.75em;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--makiko:focus + .input__label--makiko::before,
.input--filled .input__label--makiko::before {
    -webkit-transform: scale3d(38, 38, 1);
    transform: scale3d(38, 38, 1);
}

