// mainnav

.mm-menu {
  margin-top: 60px;
  background-color: #57003E;
  color: #fff;
}

.nav-title {
   background-color: #222;
   color: #999;
   padding: 5px 10px;
}

.nav-item {
   font-size: 20px;
   font-weight: 600;
}

.nano-content {
  margin-top: 45px;
}

.mm-listview li span small {
    font-size: 12px;
}

.mm-listview li span img {
   margin: -5px 10px -5px -5px;
   border-radius: 50px;
   height: 50px;
   width: 50px;
   float: left;
}

.mm-navbar {
  background-color: #57003E;
  border-color: #444;
  height: 45px;
  z-index: 3;
}
.mm-navbar > a {
  margin-top: 5px;
  font-size: 2em;
  color: #fff;
}