// navbar

.navbar-items {
    display: flex;
    max-height: 60px;
}

.navbar-item {
    padding: 5px;
    width: auto;  /* Or whatever */
    height: auto; /* Or whatever */
    //margin: auto;  /* Magic! */
    //justify-content: space-around;
}
.navbar-item-left {
    align-self: flex-start;
}
.navbar-item-right {
    align-self: flex-end;
}
.navbar-item-center {
    margin: auto;
}

.navbar-search {
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
}

.btn-nav-toggle {
    color: #666;
    font-size: 2em;
}
a:hover.btn-nav-toggle {
    color: #00E4AF;
}
a:visited.btn-nav-toggle {
    color: #666;
}
a:active.btn-nav-toggle {
    color: #00A5E4;
}

