/* General link styles */
.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 2em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}

/* Kukuri */
.link--kukuri {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #c5c2b8;
}

.link--kukuri:hover {
    color: #c5c2b8;
}

.link--kukuri::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #424242;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.3s;
    transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
    width: 100%;
}

/* Ilin */
.link--ilin {
    font-weight: 900;
    /*text-transform: uppercase;*/
    line-height: 1.2;
    overflow: hidden;
    color: #555;
}

.link--ilin span {  
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; 
}

.link--ilin:hover span:first-of-type {
    color: #00E4AF;
}

.link--ilin:hover span:last-of-type {
    color: #e51300;
}

.link--ilin span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1a1b;
    line-height: 1.2;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--ilin span:last-of-type::before {
    background: #1e1a1b;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
    -webkit-transform: translate3d(0,-150%,0);
    transform: translate3d(0,-150%,0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
}
