// Schwag Variables

$primary-color: #57003E;
$primary-tri-color: #644571;
$primary-highlight-color: #C927D7;
$info-color: #1D7A94;
$info-tri-color: #644571;
$info-highlight-color: #FF00FF;
$dark-grey-color: #252B39;
$grey-color: #666;

$brand-primary:         $primary-color;//darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         $info-highlight-color;//#5cb85c !default;
$brand-info:            $info-color;//#5bc0de !default;
$brand-warning:         $info-tri-color;//#f0ad4e !default;
$brand-danger:          $primary-tri-color;//#d9534f !default;